
<div class="static text-center">
  <h1>Welcome to Owls'R-Us</h1>
  <h2>Your online source for owls</h2>
</div>

<%= image_tag("OwlForSale.jpg", size: "200", class:"img-responsive my-image") %>	

<div class="text-center illegal">
  <h3> Yes I know selling owls is illegal...</h3>
</div>