<div class="panel panel-default">
  <div class="panel-body">
  	<h1>HOOT!</h1>
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <div>
      <img src="../images/hogwards.jpg">
    </div>
  </div><!-- / panel-body -->
</div><!-- / panel -->