<div class="thank-you">
		<h1>HOOT!</h1>
	<div class="thumbnail">
	  <%= image_tag "hogwards.jpg", class:"hogwards img-thumbnail" %>
	  <p class="text-center">Thanks for saving us the trip, we'll be in touch!</p>
	</div>
</div><!-- / thank-you -->
