<div class="panel panel-default">
  <div class="panel-body">
  	<h1>HOOT!</h1>
    <div>
      <%= image_tag "hogwards.jpg", class:"hogwards" %>
    </div>
    <p>Thanks for saving us the trip, we'll be in touch!</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->