/* overal*/

h1{
    color: #18bc9c;
}

.static{
	margin-top:80px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#777
}

/*index*/
.my-image{
  	margin:auto;
	margin-top:20px;
  	margin-bottom:20px
}

.illegal h3{
	font-style:italic;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#777
}