/* overal*/

h1{
    color: #18bc9c;
    margin-top: 60px;
}

.static{
	margin-top:80px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#777
}

/*index*/
.my-image{
  	margin:auto;
	margin-top:20px;
  	margin-bottom:20px
}

.illegal h3{
	font-style:italic;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#777
}


/*navbar and footer*/

.navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
}

.navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar .navbar-nav li a:hover{
	color: #18bc9c;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

/*footer*/

footer {
    color: #18bc9c;
    text-transform:uppercase;
}

footer .footer-above {
    padding-top: 50px;
    background-color:#F8F8F8;
}

footer .footer-below {
    padding: 25px 0;
    background-color:#F8F8F8;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*table*/

.producttable {
    width:80%;
    margin-left:0;

}
