/*body*/

body { 
    padding-top: 50px; 
}
/* typograhpy*/

h1{
    color: #18bc9c;
    margin-top: 30px;
}

h2{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#4c4c4c; 
    font-size:250% 
}

p{
    color:#4c4c4c;
}

.illegal h3{
    font-style:italic;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#777
}

.static{
	margin-top:80px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#777
}

/*navbar on application.html*/

.container {
    width:100%
}

.navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
}

.navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar .navbar-nav li a:hover{
	color: #18bc9c;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.search{
    width:50% 
}
.search form label {
    color:#777;
    padding-top:10px;
    line-height:20px;
    position:relative;
    padding:10px 15px;
}

.search label:hover{
    color: #18bc9c;

}
.login a{
    color:red;
}
/*.login{
    padding-top:15px;
    padding-bottom:15px; 
    line-height:20px;
    position:relative;
    display:block;
    padding:10px 15px;  
} */

/*carousel on apllication.html*/

.carousel-imgage {
    text-align:center;
    margin: 0 auto;    
}

.carousel-caption{
    font-size:20px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*footer on apllication.html*/

footer {
    max-height:80px;
    background-color:#F8F8F8;
    position:fixed;
    width:100%;
    bottom:0; 
}

footer p{
    text-transform:uppercase;
    color:#18bc9c;
    font-size:12px;
    margin-top:2%;
    padding-left:2%;
}

/*product page: views/products/index*/
.titelproductpage {
    margin-left:10px; 
}

/*table on views/products/index*/
.owlinfotable {
    border:1px solid #18bc9c;
    border-radius:10px;
    margin-bottom:80px;
}

.owlimage{
    margin:auto;
    margin-top:10px;
}

/*contact page*/
.emailform, {
    height:auto;
    margin:0 auto;
}

.form-group {
    width:40%;
    margin:0 auto;
    margin-bottom:5px; 
}

/*thank you page*/
.hogwards{
    margin-bottom:3%;
}    

/*forms and buttons for devises*/
.cancel {
    padding-top:1%;
    border-top:dotted;
    border-bottom:dotted;
    border-color:#18bc9c; 
}

.actions{
    padding-top:0.5%;
}