/*body*/

body { 
    padding-top: 50px; 
}
/* typograhpy*/

h1{
    color: #18bc9c;
    margin-top: 60px;
}

h2{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#4c4c4c; 
}

p{
    color:#4c4c4c;
}

.illegal h3{
    font-style:italic;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#777
}

.static{
	margin-top:80px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#777
}

/*navbar on application.html*/

.navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
}

.navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar .navbar-nav li a:hover{
	color: #18bc9c;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

/*carousel on apllication.html*/

.carousel-imgage {
    text-align:center;
    margin: 0 auto;    
}

.carousel-caption{
    font-size:20px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*footer on apllication.html*/

footer {
    color: #18bc9c;
    text-transform:uppercase;
    font-size:12px;
}

.footer-below {
    padding:25px 0;
    background-color:#F8F8F8;
    position:absolute;
    width:100%;
}

/*product page: views/products/index*/
.titelproductpage {
    margin-left:10px; 
}

/*table on views/products/index*/
.owlinfotable {
    border:1px solid #18bc9c;
}

.owlimage{
    margin:auto;
    margin-top:20px;
}
